.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.8rem;
  position: relative;
}

ul {
  width: 100%;
  list-style-type: none;
  margin-block: 0;
  padding-inline-start: 0;
  display: flex;

  li:nth-child(2) {
    margin-left: auto;
  }
}

.topnav {
  width: 100%;
  background-color: var(--top-nav-background-color);
  height: var(--nav-bar-height);
  border-radius: var(--border-radius);
  transition: var(--transition-effect);
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding-inline: var(--padding-inline);
  padding-block: var(--padding-block);
  text-decoration: none;
  font-size: 1.5rem;
  width: 5rem;
}

.topnav a:is(:active, :hover, :focus) {
  background-color: var(--button-background-color);
  color: black;
  transition: var(--transition-effect);
}

.topnav .icon {
  display: none;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25rem;
  border: 1px solid wheat;
  border-radius: var(--border-radius);
  padding: var(--padding-inline);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.75rem;
  width: inherit;

  & > :last-child {
    margin-top: var(--padding-inline);
  }
}

/* Spinner style*/
.spinner {
  text-align: center;
  > img {
    height: 1.5rem;
    width: 1.5rem;
  }
}

/* notification */
.notification {
  color: #f2f2f2;
  display: none;
  position: absolute;
  left: var(--border-radius);
  top: 100%;
  width: max-content;
  height: max-content;
  border: 2px solid black;
  border-radius: var(--border-radius);
  padding-inline: var(--padding-inline);
  padding-block: var(--padding-block);
  opacity: 0;
  transform: translateX(100);
  transition: opacity 0.8s;
}

.greenNote {
  background-color: rgb(43, 133, 43);
  display: block;
  opacity: 1;
}

.redNote {
  background-color: var(--tooltip-color);
  display: block;
  opacity: 1;
}

@media screen and (min-width: 600px) {
  .topnav a {
    height: 2.65rem;
  }
}

@media screen and (max-width: 600px) {
  .home {
    gap: 1rem;
  }
  .notification {
    width: 250px;
    height: 50px;
  }
  .card {
    width: 20rem;
    padding: 0.5rem;
    border: none;
    gap: 1rem;
  }

  .form {
    gap: 0.5rem;
  }

  .topnav .uList :not(:first-child, :last-child) {
    display: none;
  }
  .topnav {
    height: 2.5rem;
  }
  .topnav a {
    padding: 0.5rem;
    width: 2rem;
    font-size: medium;
  }
  .topnav a.icon {
    float: right;
    display: block;
    background-color: var(--button-background-color);
    width: 20px;
    height: 1.5rem;
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
  }

  .topnav.responsive a.icon {
    border-bottom-right-radius: 0;
  }

  .topnav.responsive {
    position: relative;
    height: calc(2.3 * var(--nav-bar-height));
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .uList {
    display: block;
  }

  .topnav.responsive .uList {
    li {
      display: flex;
      margin: 0;
    }
  }
  .topnav.responsive .uList * {
    display: block;
    text-align: left;
  }

  .topnav a {
    flex: 1 1 200px;
    padding-inline: 2rem;
  }
}

@media screen and (max-width: 350px) {
  .card {
    width: 17rem;
  }
}

@media screen and (max-width: 285px) {
  .card {
    width: 16rem;
  }
}
