.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.8rem;
}

ul {
  width: 100%;
  list-style-type: none;
  margin-block: 0;
  padding-inline-start: 0;
  display: flex;

  li:nth-child(2) {
    margin-left: auto;
  }
}

.topnav {
  width: 100%;
  background-color: #696868;
  height: 3.3rem;
  border-radius: 5px;
  transition: all 0.8s;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  text-decoration: none;
  font-size: 1.5rem;
  width: 5rem;
}

.topnav a:is(:active, :hover, :focus) {
  background-color: #04aa6d;
  color: black;
  transition: all 0.5s;
}

.topnav .icon {
  display: none;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25rem;
  border: 1px solid wheat;
  border-radius: 5px;
  padding: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
  width: inherit;
}

@media screen and (max-width: 600px) {
  .home {
    gap: 1rem;
  }
  .card {
    width: 16rem;
    padding: 0.5rem;
  }

  .form {
    gap: 0.5rem;
  }

  .topnav .uList :not(:first-child, :last-child) {
    display: none;
  }
  .topnav {
    height: 2.5rem;
  }
  .topnav a {
    padding: 0.5rem;
    width: 2rem;
    font-size: medium;
  }
  .topnav a.icon {
    float: right;
    display: block;
    background-color: #04aa6d;
    width: 20px;
    height: 1.5rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .topnav.responsive a.icon {
    border-bottom-right-radius: 0;
  }

  .topnav.responsive {
    position: relative;
    height: calc(2.3 * 3.3rem);
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .uList {
    display: block;
  }

  .topnav.responsive .uList {
    li {
      display: flex;
      margin: 0;
    }
  }
  .topnav.responsive .uList * {
    display: block;
    text-align: left;
  }

  .topnav a {
    flex: 1 1 200px;
    padding-inline: 2rem;
  }
}

@media screen and (max-width: 285px) {
  .card {
    width: 12rem;
  }
}
