:root {
  /* custom css variables */
  --border-radius: 5px;
  --border-size: 2px;
  --dark-blue-color: hsl(207, 72%, 13%);
  --button-background-color: #9eccf5;
  --top-nav-background-color: #696969;
  --transition-effect: all 0.5s;
  --padding-inline: 1rem;
  --padding-block: 0.3rem;
  --margin-block: var(--padding-block);
  --nav-bar-height: 3.3rem;
  --outline-focus-style: white solid var(--border-size);
  --outline-invalid-style: var(--tooltip-color) solid var(--border-size);
  --tooltip-color: hsla(0, 97%, 57%, 0.737);
  --nav-btn-width: 8rem;
  line-height: 1.5;
  font-weight: 400;
  box-sizing: border-box;
  color-scheme: light dark;
  color: hsl(0, 0%, 100%, 0.87);
  background-color: var(--dark-blue-color);
  margin: 0;
  padding: 0;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
@font-face {
  font-family: "Inconsolata";
  src: url("../assets/fonts/Inconsolata-VariableFont_wdth,wght.woff2");
  font-weight: 100 900;
  font-display: swap;
}
html {
  font-family: "Inconsolata", sans-serif;
}
.navprofile {
  border-radius: 50%;
  width: 35px;
  height: 35px;
}
.profile {
  border-radius: 50%;
  width: 70px;
  height: 70px;
}
input {
  border: none;
  appearance: none;
  background-color: black;
}
input,
button {
  cursor: pointer;
  height: 2.5rem;
  border-radius: var(--border-radius);
  padding-block: var(--padding-block);
  padding-inline: var(--padding-inline);
  font-size: large;
  width: -webkit-fill-available;
  width: -moz-available;
  transition: var(--transition-effect);
}
button:is(:active, :focus, :hover) {
  background-color: var(--button-background-color);
  color: var(--dark-blue-color);
  outline: var(--outline-focus-style);
}
button:disabled {
  background-color: var(--tooltip-color);
  color: white;
  cursor: not-allowed;
}
input:is(:active, :focus, :hover) {
  outline: var(--outline-focus-style);
}
input.invalid {
  outline: var(--outline-invalid-style);
  background-color: hsla(0, 79%, 78%, 0.584);
}
/* do not delete, custom lang selector */
div.lang-switcher-container {
  > button {
    width: var(--nav-btn-width);
    border-radius: 0;
    background-color: var(--top-nav-background-color);
    outline: none;
    border: none;
    color: whitesmoke;
    height: var(--nav-bar-height);
    &:is(:active, :focus, :hover) {
      background-color: var(--button-background-color);
      color: var(--dark-blue-color);
      & + ul {
        display: block;
        opacity: 1;
      }
    }
  }
  > ul {
    display: none;
    height: fit-content;
    opacity: 0;
    background-color: var(--top-nav-background-color);
    border-bottom-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    &:hover {
      display: block;
      opacity: 1;
    }
    li {
      cursor: pointer;
      padding: 0.3rem;
      text-align: center;
      border-radius: var(--border-radius);
      &:is(:hover, :focus) {
        background-color: var(--button-background-color);
        color: var(--dark-blue-color);
        outline: none;
      }
    }
  }
}
/* lang picker using select element */
div.lang-container {
  position: relative;
  width: var(--nav-btn-width);
  height: var(--nav-bar-height);
  margin-left: auto;
}
select.lang-selector {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  background-image: none;
  width: var(--nav-btn-width);
  height: var(--nav-bar-height);
  font-family: inherit;
  font-size: 1.3rem;
  background-color: var(--top-nav-background-color);
  color: whitesmoke;
  cursor: pointer;
  padding-inline: 0.5rem;
  transition: var(--transition-effect);
  border-radius: var(--border-radius);
  &:is(:active, :focus, :hover) {
    background-color: var(--button-background-color);
    color: var(--dark-blue-color);
    outline: var(--outline-focus-style);
  }
}
div.lang-container::after {
  content: "";
  display: block;
  width: 0.8em;
  height: 0.5em;
  background-color: whitesmoke;
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  position: absolute;
  top: 1.5rem;
  right: 0.5rem;
  cursor: pointer;
  pointer-events: none;
}
select.lang-selector:open {
  > option {
    font-size: 1.3rem;
    color: whitesmoke;
    background-color: var(--top-nav-background-color);
  }
}
div.lang-container:has(select:open)::after {
  rotate: 180deg;
}
h1 {
  text-align: center;
  margin-block-start: 0;
  margin-block-end: var(--margin-block);
}
label {
  cursor: pointer;
  display: flex;
  width: inherit;
  position: relative;
}
form {
  width: 100%;
  display: flex;
  justify-content: center;
}
.error {
  position: absolute;
  top: 0;
  left: 12rem;
  color: white;
  font-size: small;
  margin-left: auto;
  width: max-content;
  background-color: var(--tooltip-color);
  border-radius: var(--border-radius);
  padding: var(--padding-block);
}
.error::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 20%;
  margin-left: -5px;
  border-width: 7px;
  border-style: solid;
  border-color: var(--tooltip-color) transparent transparent transparent;
}
p {
  font-size: 1rem;
  margin-block: 0;
  margin-inline-start: 0;
}
@media screen and (max-width: 600px) {
  input {
    height: 1.5rem;
    font-size: smaller;
  }
  .error {
    left: 9rem;
  }
  h1 {
    font-size: x-large;
  }
  button {
    font-size: large;
    font-weight: 700;
  }
}
/* 
camelCase class names are used in react components
these classes are used by javascript code
 */
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.8rem;
  position: relative;
  background-color: inherit;
}
.uList {
  list-style-type: none;
  margin-block: 0;
  padding-inline-start: 0;
  padding-inline-end: 0.3rem;
  display: flex;
  width: 100%;
  > li:nth-child(2) {
    margin-left: auto;
  }
}
.topnav {
  width: 100%;
  background-color: var(--top-nav-background-color);
  height: var(--nav-bar-height);
  border-radius: var(--border-radius);
  transition: var(--transition-effect);
  display: flex;
}
.topnav-ske {
  width: 100%;
  border-radius: 0;
}
.topnav a,
.logoutBtn {
  border: none;
  border-radius: 0;
  font-size: 1.3rem;
  font-family: var(--font);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  height: var(--nav-bar-height);
  width: var(--nav-btn-width);
  background-color: var(--top-nav-background-color);
}
#ske-btn {
  background-color: hsla(271, 27%, 82%, 0.529);
  outline: 1px solid black;
}
.logoutBtn:hover {
  font-weight: 100;
  outline: 0;
}
.topnav a:is(:active, :hover, :focus) {
  background-color: var(--button-background-color);
  color: black;
  transition: var(--transition-effect);
}
.mobile-nav-toggle {
  display: none;
}
.password-container {
  display: flex;
  width: 100%;
  position: relative;
}
.show-btn {
  appearance: none;
  border: none;
  background-color: transparent;
  border-radius: 50%;
  width: 10px;
  height: 25px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 8px;
  margin-right: 10px;
  &:is(:hover, :active, :focus) {
    background-color: inherit;
    border: none;
    outline: none;
  }
  > svg {
    fill: white;
    width: 1rem;
    height: 1rem;
    &:is(:hover, :focus) {
      fill: var(--button-background-color);
    }
  }
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25rem;
  border: 1px solid rgba(0, 0, 0, 0.24);
  box-shadow: rgba(0, 0, 0, 0.24) -5px 5px 8px;
  border-radius: var(--border-radius);
  padding: var(--padding-inline);
  gap: 1rem;
}
.card-ske {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25rem;
  border-radius: var(--border-radius);
}
.center-card {
  margin-top: 10rem;
}
.profile-card {
  align-items: flex-start;
}
.login-bottom-link {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.card-link {
  font-size: 1rem;
  color: #f2f2f2;
  text-decoration: none;
}
.card-link:hover {
  color: var(--button-background-color);
}
/* login/signup form class */
.form {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.75rem;
  width: inherit;
  & > :last-child {
    margin-top: var(--padding-inline);
  }
}
/* notification */
.notification {
  color: #f2f2f2;
  display: none;
  width: max-content;
  height: max-content;
  border: 2px solid black;
  border-radius: var(--border-radius);
  padding-inline: var(--padding-inline);
  padding-block: var(--padding-block);
  opacity: 0;
  transition: opacity 0.8s;
  position: absolute;
  left: var(--border-radius);
  top: 10%;
}
.greenNote {
  background-color: rgb(43, 133, 43);
  display: block;
  opacity: 1;
}
/* class added by js */
.redNote {
  background-color: var(--tooltip-color);
  display: block;
  opacity: 1;
}
.fa {
  margin: auto;
  margin-top: 10rem;
}
.otp-container {
  width: inherit;
}
.otp-form {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.otp-field {
  width: 1rem;
  margin: 3px;
  padding-left: 1.2rem;
}
.otp-field:disabled:hover {
  cursor: not-allowed;
  border: none;
  outline: none;
}
.otpInvalid {
  outline: var(--outline-invalid-style);
  background-color: hsla(0, 79%, 78%, 0.584);
}
.otpValid {
  outline: green;
  background-color: hsla(95, 79%, 78%, 0.584);
}
.overlay {
  display: none;
}
@media screen and (max-width: 600px) {
  .show-btn {
    top: 4px;
  }
  .home {
    gap: 1rem;
  }
  .card {
    width: 20rem;
    padding: 0.5rem;
    border: none;
    gap: 1rem;
  }
  .center-card {
    margin-top: 5rem;
  }
  .form {
    gap: 0.5rem;
  }
  .uList {
    display: none;
  }
  .topnav {
    height: var(--nav-bar-height);
  }
  .logoutBtn {
    flex: 1 1 200px;
    font-size: large;
    font-weight: 100;
  }
  .mobile-nav-toggle {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--button-background-color);
    height: var(--nav-bar-height);
    width: 4rem;
    border: none;
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
  }
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .uList {
    position: absolute;
    top: calc(var(--nav-bar-height) + 2px);
    left: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    height: calc(3 * var(--nav-bar-height));
    outline: var(--outline-focus-style);
    border-radius: var(--border-radius);
    > li {
      height: var(--nav-bar-height);
      > a {
        width: 100%;
      }
    }
    > li:nth-child(2) {
      margin-left: 0;
    }
  }
  .overlay.active {
    display: block;
    position: absolute;
    top: var(--nav-bar-height);
    z-index: 5;
    min-height: 91vh;
    width: 100%;
    background-color: #69696983;
  }
  /* do not delete, this is custom lang selector */
  div.lang-switcher-container {
    width: 100%;
    > button {
      width: 100%;
      font-weight: 300;
    }
    > ul {
      position: absolute;
      right: 0;
      width: 20vw;
    }
  }
}
@media screen and (max-width: 350px) {
  .card {
    width: 17rem;
  }
}
@media screen and (max-width: 285px) {
  .card {
    width: 16rem;
  }
}