<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="auth-ssr icon"
      href="/views/root/assets/favicon.svg"
      type="image/x-icon"
    />
    <link
      rel="preload"
      href="/views/conf/assets/images/logo-full.svg"
      as="image"
      type="image/svg+xml"
    />
    <link
      rel="preload"
      href="/views/conf/assets/images/logo-mark.svg"
      as="image"
      type="image/svg+xml"
    />
    <link
      rel="preload"
      href="/views/conf/assets/images/line-bottom.svg"
      as="image"
      type="image/svg+xml"
    />
    <link
      rel="preload"
      href="/views/conf/assets/images/line-top.svg"
      as="image"
      type="image/svg+xml"
    />
    <link
      rel="preload"
      href="/views/conf/assets/images/pattern-lines.svg"
      as="image"
      type="image/svg+xml"
    />
    <link
      rel="preload"
      href="/views/conf/assets/images/pattern-circle.svg"
      as="image"
      type="image/svg+xml"
    />
    <link
      rel="preload"
      href="/views/conf/assets/images/pattern-ticket.svg"
      as="image"
      type="image/svg+xml"
    />
    <link
      rel="preload"
      href="/views/conf/assets/images/background-tablet.png"
      as="image"
      type="image/png"
      media="(min-width: 376px) and (max-width: 1439px)"
    />
    <link
      rel="preload"
      href="/views/conf/assets/images/background-mobile.png"
      as="image"
      type="image/png"
      media="(max-width: 375px)"
    />
    <link
      rel="preload"
      href="/views/conf/assets/images/background-desktop.png"
      as="image"
      type="image/png"
      media="(min-width: 1440px) and (min-resolution: 2dppx)"
    />
    <link
      rel="preload"
      href="/views/conf/assets/fonts/Inconsolata-VariableFont_wdth,wght.woff2"
      as="font"
      type="font/ttf"
      crossorigin="anonymous"
    />
    <title>Conference ticket generator</title>
  </head>
  <body>
    <main id="root"><!--app-html--></main>
    <script type="module" src="/views/conf/entry-client.tsx"></script>
  </body>
</html>
