<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="preload"
      href="/client/assets/fonts/Inconsolata-VariableFont_wdth,wght.woff2"
      as="font"
      type="font/ttf"
      crossorigin="anonymous"
    />
    <link
      rel="auth-ssr icon"
      href="/client/assets/favicon.svg"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/client/client_store/index.css" />
    <title>Auth-SSR : Set new password</title>
  </head>
  <body>
    <div id="root"><!--new-pass-form--></div>
    <script
      type="module"
      src="/client/views/newpassword/entry-client.tsx"
    ></script>
  </body>
</html>
